body {
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    margin: 0;
    padding: 20px;
}

h1 {
    text-align: center;
    color: brown;
    margin-bottom: 10px;
}

h3 {
    text-align: center;
    color: rgb(122, 8, 8);
    margin-bottom: 30px;
}


form {
    max-width: 500px;
    margin: 0 auto;
    padding: 30px;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
}


label {
    font-weight: bold;
    display: block;
    margin-bottom: 5px;
    color: #333;
}


input[type="text"],
input[type="email"],
input[type="date"],
select {
    width: 100%;
    padding: 8px 10px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}


button[type="submit"] {
    width: 100%;
    background-color: #8b0000;
    color: white;
    padding: 10px 0;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
}

button[type="submit"]:hover {
    background-color: #a30000;
}
